<p>laptop-form works!</p> 

{{ laptop|json }}
            <form (ngSubmit)="save(f)" #f="ngForm">
            <div class="mb-3">
              <label for="type" class="form-label">Typ</label>
              <select type="number" class="form-control" [(ngModel)]="laptop.type" name="type" id="type" required>
                <option value="1">Laptop</option>
                <option value="2">Smartphone</option>
                <option value="3">Monitor</option>
              </select>
            </div>
            <div  *ngIf="laptop.type === '1'">
              <div class="mb-3 content-center">
                <label for="company-name" class="form-label">Company name</label>
                <input type="text" class="form-control" [(ngModel)]="laptop.companyName" name="name" id="company-name" required>
              </div>
              <div class="mb-3">
                <label for="ram" class="form-label" name="nip">RAM</label>
                <input type="number" class="form-control" [(ngModel)]="laptop.ram" name="ram" id="ram" required>
              </div>
              <div class="mb-3">
                  <label for="cpu" class="form-label">Procesor</label>
                  <input type="text" class="form-control" [(ngModel)]="laptop.cpu" name ="cpu" id="cpu" required>
                </div>
                <div class="mb-3">
                  <label for="gpu" class="form-label">Karta Graficzna</label>
                  <input type="text" class="form-control" [(ngModel)]="laptop.gpu" name="gpu" id="gpu" required>
                </div>
                <div class="mb-3">
                  <label for="ssd" class="form-label">SSD Amount</label>
                  <input type="number" class="form-control" [(ngModel)]="laptop.ssd" name="ssd" id="ssd">
                </div>
                <div class="mb-3">
                  <label for="nickname" class="form-label">Pseudonim</label>
                  <input type="text" class="form-control" [(ngModel)]="laptop.nickname" name="nickname" id="nickname" required>
                </div>
              <div>
                <div class="mb-3">
                  <label for="comments" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" [(ngModel)]="laptop.comment" name="comments" id="comments"></textarea>
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">Typ</label>
                  <select type="number" class="form-control" [(ngModel)]="laptop.type" name="type" id="type" required>
                    <option value="1">Laptop</option>
                    <option value="2">Smartphone</option>
                    <option value="3">Monitor</option>
                  </select>
                </div>
              </div>
                <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="laptop.bought" id="bought" name="bought" required>
                <label class="form-check-label" for="active">Kupiony?</label>
              </div>
            </div>
            <!-- <div  *ngIf="laptop.type === '2'">
              <div class="mb-3 content-center">
                <label for="company-name" class="form-label">Company name</label>
                <input type="text" class="form-control" [(ngModel)]="smartphone.companyName" name="name" id="company-name" required>
              <div class="mb-3">
                  <label for="camera" class="form-label" name="camera">Camera specs</label>
                  <input type="text" class="form-control" [(ngModel)]="smartphone.camera" name="camera" id="camera">
                </div>
              </div>
              <div class="mb-3">
                <label for="ram" class="form-label" name="ram">RAM</label>
                <input type="number" class="form-control" [(ngModel)]="smartphone.ram" name="ram" id="ram" required>
              </div>
              <div class="mb-3">
                  <label for="cpu" class="form-label">Procesor</label>
                  <input type="text" class="form-control" [(ngModel)]="smartphone.cpu" name ="cpu" id="cpu">
                </div>
                <div class="mb-3">
                  <label for="ssd" class="form-label">Memory</label>
                  <input type="number" class="form-control" [(ngModel)]="smartphone.ssd" name="ssd" id="ssd">
                </div>
                <div class="mb-3">
                  <label for="nickname" class="form-label">Pseudonim</label>
                  <input type="text" class="form-control" [(ngModel)]="smartphone.nickname" name="nickname" id="nickname" required>
                </div>
              <div>
                <div class="mb-3">
                  <label for="comments" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" [(ngModel)]="smartphone.comment" name="comments" id="comments"></textarea>
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">Typ</label>
                  <select type="number" class="form-control" [(ngModel)]="smartphone.type" name="type" id="type" required>
                    <option value="1">Laptop</option>
                    <option value="2">Smartphone</option>
                    <option value="3">Monitor</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="smartphone.bought" id="bought" name="bought" required>
                <label class="form-check-label" for="active">Kupiony?</label>
              </div>
            </div>
            <div  *ngIf="laptop.type === '3'">
              <div class="mb-3 content-center">
                <label for="company-name" class="form-label">Company name</label>
                <input type="text" class="form-control" [(ngModel)]="monitor.companyName" name="name" id="company-name" required>
              </div>
              <div class="mb-3">
                <label for="size" class="form-label" name="nip">Size</label>
                <input type="number" class="form-control" [(ngModel)]="monitor.size" name="size" id="size" required>
              </div>
                <div class="mb-3">
                  <label for="nickname" class="form-label">Pseudonim</label>
                  <input type="text" class="form-control" [(ngModel)]="monitor.nickname" name="nickname" id="nickname" required>
                </div>
                <div class="mb-3">
                  <label for="comments" class="form-label">Comment</label>
                  <textarea type="text" class="form-control" [(ngModel)]="monitor.comment" name="comments" id="comments"></textarea>
                </div>
                <div class="mb-3">
                  <label for="type" class="form-label">Typ</label>
                  <select type="number" class="form-control" [(ngModel)]="monitor.type" name="type" id="type" required>
                    <option value="1">Laptop</option>
                    <option value="2">Smartphone</option>
                    <option value="3">Monitor</option>
                  </select>
                </div>
                <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="monitor.bought" id="bought" name="bought" required>
                <label class="form-check-label" for="active">Kupiony?</label>
              </div>
            </div> -->
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
        </form>

